
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<h2>@ViewBag.mysession</h2>

<a asp-controller="Home" asp-action="Logout">Logout</a>



<h1>Successfully Logged-In Get access to Latest News....</h1>

@* this below code is for the Dropdown menu *@
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Click to select NEWS!</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Home" asp-action="NewsDetails" asp-route-Id="1">News 1</a></li>
        <li><a class="dropdown-item" asp-controller="Home" asp-action="NewsDetails" asp-route-Id="2">News 2</a></li>
        <li><a class="dropdown-item" asp-controller="Home" asp-action="NewsDetails" asp-route-Id="3">News 3</a></li>
        <li><a class="dropdown-item" asp-controller="Home" asp-action="NewsDetails" asp-route-Id="4">News 4</a></li>
    </ul>
</div>



















@* <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Click to select NEWS!</button>
    <ul class="dropdown-menu">
        <li><button type="submit" onClick= className="dropdown-item">News 1</button></li>
        <li><button type="submit" onClick= className="dropdown-item">News 2</button></li>
        <li><button type="submit" onClick= className="dropdown-item">News 3</button></li>
        <li><button type="submit" onClick=className ="dropdown-item">News 4</button></li>
    </ul>
</div> *@

@* 
<li style={{listStyle:'none'}}>
    <a className="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown">Click to select NEWS!</a>
    <ul className="dropdown-menu">
        <li><button type="submit" onClick={handleUpClick} className="dropdown-item" style={myStyle}>toUpperCase</button></li>
        <li><button type="submit" onClick={handleLowClick} className="dropdown-item" style={myStyle}>toLowerCase</button></li>
        <li><button type="submit" onClick={handleClear} className="dropdown-item" style={myStyle}>ClearText</button></li>
    </ul>
</li> *@