@model IEnumerable<SeesionASPCore.Models.News>;


<h1>Latest News</h1>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <partial name="_NewsPartialView" model="item" />
            </div>
        }
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Click to select NEWS!</button>
    <ul class="dropdown-menu">
        <li><a className="dropdown-item" href="/Home/News/1">News 1</a></li>
        <li><a className="dropdown-item" href="/home/News/2">News 2</a></li>
        <li><a className="dropdown-item" href="/home/News/3">News 3</a></li>
        <li><a className="dropdown-item" href="/home/News/4">News 4</a></li>
    </ul>
</div>